.toast-header-error {
    color: $secondary;
    background-color: $danger;
}

.toast-body-error {
    color: $danger;
    background-color: mix( $white, $danger, 90% );
}

.toast-btn-error {
    color: $danger;
    background-color: mix( $white, $danger, 75% );
    border-style: outset;
    border-radius: 5px;
    border-color: $danger;
}

.toast-header-success {
    color: $secondary;
    background-color: $success;
}

.toast-body-success {
    color: $success;
    background-color: mix( $white, $success, 90% );
}

.toast-btn-success {
    color: $success;
    background-color: mix( $white, $success, 75% );
    border-style: outset;
    border-radius: 5px;
    border-color: $success;
}